@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --system-color-deepNavy: #0a0e15;
  --system-color-softWhite: #f3f4f6;
  --system-color-coolGray: #9ca3af;
  --system-color-charcoalGray: #252a31;
  --system-color-cyan: #34d2fe;
  --system-font-family-lexend: "Lexend", sans-serif;
}

body {
  --color-backgroundColor: var(--system-color-deepNavy);
    background-color: var(--color-backgroundColor);
}

html {
    scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: border-box;
}

.brand {
    font-family: var(--font-family-primary);
    font-size: 26px;
    font-weight: 600;
    color: var(--color-primaryText);
}

.navigation {
    display: flex;
    gap: 40px;
}

.navigation a {
    color: inherit;
    text-decoration: none;
    text-transform: none;
}

.hover-element:hover {
    color: var(--hover-element-color, var(--system-color-softWhite));
}